[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"
cloudinary = "*"
flask-admin = "*"
typing-extensions = "*"
flask-jwt-extended = "==4.6.0"
wtforms = "==3.1.2"
sqlalchemy = "*"
colorama = "*"
supabase = "*"
flask-mail = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.13"

[scripts]
start = "flask --app src/app.py run -p 3001 -h 0.0.0.0"
shell = "flask --app src/app.py shell"
init = "flask --app src/app.py db init"
migrate = "flask --app src/app.py db migrate"
upgrade = "flask --app src/app.py db upgrade"
downgrade = "flask --app src/app.py db downgrade"
insert_test_data = "flask --app src/app.py insert-test-data"
# este script usa bash; en Windows puede no funcionar
reset_db = "bash ./docs/assets/reset_migrations.bash"
deploy = """echo Please follow this 3 steps to deploy: https://github.com/4GeeksAcademy/flask-rest-hello/blob/master/README.md#deploy-your-website-to-heroku"""
